<div class="about">
    <h2>About BetterTunes</h2>
    <h2> </h2>

    <h3>Our Mission</h3>

    <p>Our goal in the creation of this project is to give users the ability to bond over the music that they love. We got our inspiration from
        the website GoodReads, where users can rate books, leave reviews, and share their thoughts to their peers. We want this project to leave a 
        positive impact on those who use it.
    </p>

    <h2> </h2>

    <h3>The Team Behind the Music</h3>

    <p>The team that developed this app are all students in the UWF Capstone 2025 course. We were given creative freedom for what project we wanted to 
        create, as long as it followed the theme of "X, but for Y." We decided to do "GoodReads, but for music" because we know that, as college students,
        having good music at the ready is an essential and we wanted a platform where music lovers could make finding good music a little easier.
    </p>

    <!--It might be cute to add little pics of ourselves by our names-->
    <h4> Team Lead / Cybersecurity Lead -- Todd Slaughter</h4>
    <h4> Coding Lead -- Logan Oaks</h4>
    <h4> Software Engineering Lead -- Grace Keeney</h4>
    <h4> Testing Lead -- Brennan Thompson</h4>
</div>