<!-- Landing Container with Buttons -->
<div class="landing-container">
    <h1>Welcome to BetterTunes!</h1>
    <p>Discover and share your favorite music with your peers</p>
{{!--     <h1>  </h1> --}}
{{!--     <h1>  </h1> --}}
{{!--     <h1>Login here:</h1> --}}
    <button class="btn-login" onclick="window.location.href='/login'">Login</button>
{{!--     <h1>  </h1> --}}
{{!--     <h1>Or Register here:</h1> --}}
    <button class="btn-register" onclick="window.location.href='/register'">Register</button>
</div>